.album-display {
  min-height: 325px;
  padding-top: 15px;
}

.album-image-wrapper {
  display: flex;
  text-align: right;
}

.album-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
}

.album-label {
  padding-top: 75px;
  text-align: left;
}
